@import "color.css";

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink {
	to {
		color: @red;
	}
}

* {
	color: @yellow;
	border: 0;
	border-radius: 0;
	padding: 0 0;
	font-family: "CaskaydiaCove Nerd Font";
	font-size: 13px;
	padding-top: 1px;
	transition: all 0.5s ease;
}

window#waybar {
	background-color: @black;
	opacity: 0.95;
}

#workspaces button {
	color: @black;
	margin-left: 1px;
	margin-right: 1px;
	padding: 2 0 3 0;
	opacity: 0.7;
}

#workspaces button:hover * {
	color: @peach;
}

#workspaces button:hover {
	color: @peach;
	box-shadow: none;
	text-shadow: none;
	border: 0px;
	background: none;
	opacity: 1;
}

#workspaces button.active,
#workspaces button.urgent {
	opacity: 1;
}

#workspaces button.active * {
	color: @green;
}

#workspaces button.urgent * {
	color: @peach;
}

#workspaces {
	border-style: solid;
	opacity: 1;
	margin: 0px 10px 0px 10px;
}

#clock,
#custom-dsbattery,
#battery,
#cpu,
#memory,
#network,
#tray,
#temperature,
#custom-colorpicker,
#custom-clipboard,
#custom-notification,
.custom-spotify {
	padding: 5px 8px;
	border-style: solid;
	opacity: 1;
	margin: 0px 0px 0px 0px;
}

#clock {
	margin-right: 10px;
}

#custom-spotify {
	margin: 2px 5px 0px 5px;
}

#temperature {
	margin-left: 5px;
}

#temperature.critical {
	color: @red;
}

#battery.charging {
	color: @rosewater;
}

#battery.warning,
#memory.warning,
#cpu.warning {
	color: @maroon;
	background: transparent;
}

#memory.critical,
#cpu.critical {
	color: @red;
}

#battery.critical:not(.charging) {
	color: @red;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#cpu,
#cpu #cpu-icon,
#memory {
	color: @yellow;
}

#network.disabled {
	color: @red;
}

#network.disconnected {
	color: @red;
}

#custom-launcher {
	margin: 0px 17px 0px 17px;
	font-size: 16px;
	color: @green;
}

#window {
	border-style: hidden;
	margin-right: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 2px;
}

#window > * {
	color: @flamingo;
}
