@import "color.css";

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink {
	to {
		color: @red;
	}
}

/* -----------------------------------------------------------------------------
* Base styles
* -------------------------------------------------------------------------- */

/* Reset all styles */

* {
	color: @lavender;
	border: 0;
	padding: 0 0;
	font-family: "MesloLGS NF";
	font-size: 11px;
	padding-top: 1px;
	transition: all 0.5s ease;
}

window#waybar {
	background-color: @mantle;
	opacity: 0.95;
}

#workspaces button {
	color: @base;
	margin-left: 1px;
	margin-right: 1px;
	padding: 2 0 2 0;
	opacity: 0.7;
}

#workspaces button:hover * {
	color: white;
}

#workspaces button:hover {
	color: white;
	box-shadow: none;
	text-shadow: none;
	border: 0px;
	background: none;
	opacity: 1;
}

#workspaces button.active,
#workspaces button.urgent {
	opacity: 1;
}

#workspaces button.active * {
	color: white;
}

#workspaces button.urgent * {
	color: @rosewater;
}

#workspaces {
	border-style: solid;
	opacity: 1;
	margin: 0px 10px 0px 10px;
}

#bluetooth.disabled {
	color: @peach;
}

#clock,
#battery,
#cpu,
#memory,
#backlight,
#network,
#pulseaudio,
#tray,
#bluetooth,
#custom-colorpicker,
#custom-clipboard,
#custom-notification {
	padding: 5px 8px;
	border-style: solid;
	opacity: 1;
	margin: 0px 0px 0px 0px;
}

/* -----------------------------------------------------------------------------
   * Module styles
   * -------------------------------------------------------------------------- */

#clock {
	color: @sky;
	margin: 0px 10px 0px 0px;
}

#backlight {
	color: @yellow;
}

#battery {
	color: #d8dee9;
	margin-right: 10px;
}

#battery.charging {
	color: #81a1c1;
}

#battery.warning,
#memory.warning,
#cpu.warning {
	color: #ebcb8b;
	background: transparent;
}

#memory.critical,
#cpu.critical {
	color: #bf616a;
}

#battery.critical:not(.charging) {
	color: #bf616a;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#custom-notification {
	margin-right: 10px;
}

#cpu {
	color: @sky;
}

#cpu #cpu-icon {
	color: @sky;
}

#memory {
	color: @sky;
	margin-right: 10px;
}

#network.disabled {
	color: #bf616a;
}

#network {
	color: @green;
	margin-right: 10px;
}

#network.disconnected {
	color: #bf616a;
}

#pulseaudio {
	color: @flamingo;
	margin-right: 10px;
}

#tray,
#battery {
	margin-right: 10px;
}

#custom-launcher {
	margin: 0px 10px 0px 17px;
	font-size: 19px;
}

#window {
	border-style: hidden;
	margin-right: 10px;
	color: #eceff4;
	background-color: @mantle;
	padding-left: 10px;
	padding-right: 10px;
}
