Backups
blob_storage
Cache
CachedData
CachedExtensionVSIXs
CachedProfilesData
Code Cache
Crashpad
databases
DawnCache
DawnGraphiteCache
DawnWebGPUCache
Dictionaries
GPUCache
Local Storage
logs
Service Worker
Session Storage
Shared Dictionary
WebStorage
.org.chromium.Chromium*
Cookies
Cookies-journal
languagepacks.json
machineid
Network Persistent State
Preferences
SharedStorage
TransportSecurity
Trust Tokens
Trust Tokens-journal
code.lock

User/globalStorage
User/History
User/workspaceStorage
