/* Colors */

* {
    background:     #1e1e2e; 
    background-alt: #302d41; 
    border:         #89b4fa; 
    foreground:     #cdd6f4; 
    selected:       #89b4fa; 
    selected-alt:   #89b4fa; 
    active:         #f38ba8; 
    urgent:         #f38ba8; 
}
