[Desktop Entry]
Name=Steam Friends
Comment=Open steam friends
Exec=steam steam://open/friends
Icon=steam
Terminal=false
Type=Application
Categories=Game;
