[Desktop Entry]
Name=Steam (Big Picture)
Comment=Open steam in big picture mode
Exec=steam --big-picture
Icon=steam
Terminal=false
Type=Application
Categories=Game;
