[Desktop Entry]
Version=1.0
Name=Steam Chat
Comment=Web App
Exec=brave --app="https://steamcommunity.com/chat/" --class=WebApp-SteamChat8542 --name=WebApp-SteamChat8542 --user-data-dir=/home/tiago/.local/share/ice/profiles/SteamChat8542
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/tiago/.local/share/ice/icons/SteamChat.png
Categories=GTK;WebApps;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-SteamChat8542
StartupNotify=true
X-WebApp-Browser=Brave
X-WebApp-URL=https://steamcommunity.com/chat/
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true
