[Desktop Entry]
Version=1.0
Name=Excalidraw
Comment=Web App
Exec=brave --app="https://excalidraw.com/" --class=WebApp-Excalidraw1479 --name=WebApp-Excalidraw1479 --user-data-dir=/home/tiago/.local/share/ice/profiles/Excalidraw1479
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/tiago/.local/share/ice/icons/Excalidraw.png
Categories=GTK;Utility;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-Excalidraw1479
StartupNotify=true
X-WebApp-Browser=Brave
X-WebApp-URL=https://excalidraw.com/
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true
