[Desktop Entry]
Version=1.0
Name=Photopea
Comment=Web App
Exec=brave --app="https://www.photopea.com/" --class=WebApp-Photopea8360 --name=WebApp-Photopea8360 --user-data-dir=/home/tiago/.local/share/ice/profiles/Photopea8360
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/tiago/.local/share/ice/icons/Photopea.png
Categories=GTK;Graphics;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-Photopea8360
StartupNotify=true
X-WebApp-Browser=Brave
X-WebApp-URL=https://www.photopea.com/
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true
