[Desktop Entry]
Version=1.0
Name=MusicForProgramming
Comment=Web App
Exec=brave --app="https://musicforprogramming.net/latest/" --class=WebApp-MusicForProgramming9025 --name=WebApp-MusicForProgramming9025 --user-data-dir=/home/tiago/.local/share/ice/profiles/MusicForProgramming9025
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/tiago/.local/share/ice/icons/MusicForProgramming.png
Categories=GTK;WebApps;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-MusicForProgramming9025
StartupNotify=true
X-WebApp-Browser=Brave
X-WebApp-URL=https://musicforprogramming.net/latest/
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true
