[Desktop Entry]
Version=1.0
Name=Play Piano
Comment=Web App
Exec=brave --app="https://virtualpiano.net/" --class=WebApp-PlayPiano7507 --name=WebApp-PlayPiano7507 --user-data-dir=/home/tiago/.local/share/ice/profiles/PlayPiano7507
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/tiago/.local/share/ice/icons/PlayPiano.png
Categories=GTK;AudioVideo;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-PlayPiano7507
StartupNotify=true
X-WebApp-Browser=Brave
X-WebApp-URL=https://virtualpiano.net/
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true
